@namespace ScrumPoker.UI.Components.Tabs
@inherits TablerBaseComponent

<li class="nav-item">
    <a @onclick=Activate class="nav-link @TitleCssClass"  data-toggle="tab">
        @Header
    </a>
</li>
