@page "/lobby/{roomName}/{userName}"
@using Microsoft.AspNetCore.SignalR.Client
@using ScrumPoker.Model.Model
@inject NavigationManager NavigationManager

<style type="text/css">
    .user-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .user-card {
        border-radius: 5px;
        height: 140px;
        max-width: 160px;
        width: 45vw;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        margin: 15px;
    }
</style>

<div class="container">
    <div class="row mb-5">
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h3 class="card-title">Room: @RoomName</h3>

                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-success btn-lg">Start Voting</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (room?.Users?.Count > 0)
    {
        @for (int i = 0; i < room.Users.Count; i += 5)
        {
            <div class="row d-flex justify-content-center">
                @foreach (var user in room.Users.Skip(i).Take(5))
                {
                    <div class="user-list">
                        <div class="user-card border">
                            <h5 class="card-title">@user.Name</h5>
                            <span class="badge rounded-pill @(user.IsActive ? "bg-success" : "bg-danger") text-white">@(user.IsActive ? "online" : "offline")</span>
                        </div>
                    </div>
                }
            </div>
        }
    }
</div>

@code {

    [Parameter]
    public string RoomName { get; set; }

    [Parameter]
    public string Username { get; set; }

    private HubConnection hubConnection;

    public Room room { get; set; }

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/roomhub"))
            .Build();

        hubConnection.On<Room>("ReceiveMessage", (data) =>
        {
            room = data;
            StateHasChanged();
        });

        await hubConnection.StartAsync();
        await hubConnection.SendAsync("GetGroupMessages", RoomName);
    }
}
