.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-card {
    border-radius: 5px;
    height: 140px;
    max-width: 160px;
    width: 45vw;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 15px;
}
