@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


.card {
    margin-bottom: 20px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%) !important;
}


@media not print {
    .theme-dark {
        color: #f4f6fa;
        background-color: #1f2936
    }

        .theme-dark .card, .theme-dark .task-panel, .theme-dark .card-footer, .theme-dark .card-stacked::after, .theme-dark .dropdown-menu, .theme-dark .footer:not(.footer-transparent), .theme-dark .modal-content, .theme-dark .modal-header {
            background-color: #232e3c;
            color: inherit
        }

        .theme-dark .card {
            border-color: transparent
        }

        .theme-dark .card-tabs .nav-tabs .nav-link {
            background-color: #1f2936;
            color: inherit
        }

            .theme-dark .card-tabs .nav-tabs .nav-link.active {
                background-color: #232e3c;
                color: inherit
            }

        .theme-dark .btn-white, .theme-dark .form-file-button {
            background-image: none
        }

        .theme-dark .form-check-input:not(:checked), .theme-dark .form-control, .theme-dark .form-file-text, .theme-dark .form-imagecheck-figure:before, .theme-dark .form-select, .theme-dark .form-selectgroup-check, .theme-dark .form-selectgroup-label {
            background-color: #1f2936;
            color: #f4f6fa
        }

        .theme-dark .form-control-plaintext {
            color: #f4f6fa
        }

        .theme-dark .input-group-flat .input-group-text {
            background-color: #1f2936
        }

        .theme-dark .highlight {
            background-color: #1f2936
        }

        .theme-dark .avatar {
            background-color: #273342
        }

        .theme-dark .avatar-list-stacked .avatar {
            box-shadow: 0 0 0 2px #232e3c
        }

        .theme-dark .accordion-button, .theme-dark .btn-close, .theme-dark .markdown, .theme-dark .markdown > * {
            color: inherit
        }

        .theme-dark .apexcharts-text {
            fill: #f4f6fa
        }

        .theme-dark .apexcharts-legend-text {
            color: inherit !important
        }

        .theme-dark .navbar-brand-autodark {
            filter: brightness(0) invert(1)
        }

        .theme-dark .input-group-text, .theme-dark .markdown > table thead th, .theme-dark .table thead th {
            background: 0 0
        }

        .theme-dark .form-fieldset, .theme-dark .list-group-item {
            border-color: #dadcde
        }

        .theme-dark .list-group-header {
            background: #1f2936;
            border-color: #dadcde
        }
}

@media not print and (prefers-color-scheme:dark) {
    .theme-dark-auto {
        color: #f4f6fa;
        background-color: #1f2936
    }

        .theme-dark-auto .card, .theme-dark-auto .card-footer, .theme-dark-auto .card-stacked::after, .theme-dark-auto .dropdown-menu, .theme-dark-auto .footer:not(.footer-transparent), .theme-dark-auto .modal-content, .theme-dark-auto .modal-header {
            background-color: #232e3c;
            color: inherit
        }

        .theme-dark-auto .card {
            border-color: transparent
        }

        .theme-dark-auto .card-tabs .nav-tabs .nav-link {
            background-color: #1f2936;
            color: inherit
        }

            .theme-dark-auto .card-tabs .nav-tabs .nav-link.active {
                background-color: #232e3c;
                color: inherit
            }

        .theme-dark-auto .btn-white, .theme-dark-auto .form-file-button {
            background-image: none
        }

        .theme-dark-auto .form-check-input:not(:checked), .theme-dark-auto .form-control, .theme-dark-auto .form-file-text, .theme-dark-auto .form-imagecheck-figure:before, .theme-dark-auto .form-select, .theme-dark-auto .form-selectgroup-check, .theme-dark-auto .form-selectgroup-label {
            background-color: #1f2936;
            color: #f4f6fa
        }

        .theme-dark-auto .form-control-plaintext {
            color: #f4f6fa
        }

        .theme-dark-auto .input-group-flat .input-group-text {
            background-color: #1f2936
        }

        .theme-dark-auto .highlight {
            background-color: #1f2936
        }

        .theme-dark-auto .avatar {
            background-color: #273342
        }

        .theme-dark-auto .avatar-list-stacked .avatar {
            box-shadow: 0 0 0 2px #232e3c
        }

        .theme-dark-auto .accordion-button, .theme-dark-auto .btn-close, .theme-dark-auto .markdown, .theme-dark-auto .markdown > * {
            color: inherit
        }

        .theme-dark-auto .apexcharts-text {
            fill: #f4f6fa
        }

        .theme-dark-auto .apexcharts-legend-text {
            color: inherit !important
        }

        .theme-dark-auto .navbar-brand-autodark {
            filter: brightness(0) invert(1)
        }

        .theme-dark-auto .input-group-text, .theme-dark-auto .markdown > table thead th, .theme-dark-auto .table thead th {
            background: 0 0
        }

        .theme-dark-auto .form-fieldset, .theme-dark-auto .list-group-item {
            border-color: #dadcde
        }

        .theme-dark-auto .list-group-header {
            background: #1f2936;
            border-color: #dadcde
        }
}
