@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


.card {
    margin-bottom: 20px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%) !important;
}

.task-panel {
    width: 400px;
    background: #ebebed;
    padding: 50px 20px 10px;
    position: absolute;
    left: 0;
    height: calc(100% - 0px);
}

.task-panel-header {
    right: 0;
    left: 0;
    padding: 20px;
    top: 0;
    width: -webkit-fill-available;
}

    .task-panel-header small {
        display: block;
    }

    .task-panel-header > h2 {
        display: inline-block;
    }


.content-panel {
    padding-left: 400px !important;
    padding-top: 100px;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.user-card {
    width: 200px;
    height: 200px;
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
    background-color: #ffffff;
    color: inherit;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    border-radius: 20px;
}

    .user-card:hover, .user-card.active {
        border: 1px solid transparent;
        -webkit-box-shadow: 0 3px 7px 0 #a8a8a8;
        -moz-box-shadow: 0 3px 7px 0 #a8a8a8;
        box-shadow: 0 3px 7px 0 #a8a8a8;
    }

.user-card-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    color: inherit;
    margin-bottom: 0;
    padding: 15px 8px;
    min-height: 48px;
    position: relative;
    clear: both;
    border-radius: inherit;
}

.user-card-content {
    padding: 20px;
    position: relative;
    background-color: #ffffff;
    color: inherit;
    text-align: center;
    text-wrap: none;
}

    .user-card-content span {
        font-size: medium;
        padding: 7px 14px;
    }

.poker-card {
    height: 150px;
    max-height: 225px;
    margin: 10px !important;
}

.selected-card {
    border: 3px solid #206bc4;
    color: #206bc4;
    font-size: 47px;
    font-weight: bold;
    letter-spacing: 0;
    text-align: center;
    transform: scale(1.08)
}

.user-select-none {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.poker-card .card-text {
    font-size: 56px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


.login-header {
    color: #dadfe4;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: -6px;
    text-align: center;
}

.footer.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 15px 20px;
    background: white;
    border-top: 1px solid #e7eaec;
}

.btn-timer {
    float: right !important;
    border: none !important;
}

.clock-img {
    background: url(../css/img/stopwatch.png) no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    height: 20px;
    width: 20px;
}


.clock-span {
    height: 16px;
    width: 16px;
    font-weight: 800;
    float: right;
    font-size: large;
}