@using BlazorDownloadFile

<button type="button" class="btn btn-success btn-sm float-right" @onclick="DownloadTaskList"><i class="fas fa-file-excel"></i>&nbsp;Excel</button>

@code {
    [Parameter] public Room room { get; set; }
    [Inject] IBlazorDownloadFileService BlazorDownloadFileService { get; set; }

    private async void DownloadTaskList()
    {
        if (room.VotedTaskList.Count <= 0)
            return;

        var excelReport = new ExcelHelper().ExportToExcelByOpenXML(room.VotedTaskList);

        await BlazorDownloadFileService.DownloadFile("TaskList.xlsx", excelReport, System.Threading.CancellationToken.None, "application/octet-stream");
    }
}
