
<div class="modal fade" style="display:contents" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Scrum voting ended</h5>
            </div>
            <div class="modal-body">
                @winners
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Finish session</button>
                <ExcelComponent room="@room" />
                @*<button type="button" class="btn btn-primary">e-Mail</button>*@
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string winners { get; set; }
    [Parameter] public Room room { get; set; }


}
