@using BlazorDownloadFile

<div class="panel-body">
    <table class="table table-hover margin bottom">
        <caption style="caption-side: top;">
            <button type="button" class="btn btn-success btn-sm float-right" @onclick="DownloadTaskList">Excel</button>
        </caption>
        <thead>
            <tr>
                <th style="width: 1%" class="text-center">ID</th>
                <th>Name</th>
                <th>Point</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in room.VotedTaskList)
            {
                <tr>
                    <td>@task.Id </td>
                    <td>@task.Name </td>
                    <td><span class="badge badge-primary">@(task.ComfirmedPoint.GetEnumDescription())</span></td>
                </tr>
            }
        </tbody>
    </table>
    <ExcelComponent room="@room" />
</div>

@code {
    [Parameter] public Room room { get; set; }
}
